<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <style>
      table,tr,td{
        border-collapse: collapse;
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h2>Test</h2>
    <form action="/" method="POST">
      <button>Check</button>
    </form>
    <table>
      <% for(var x = results.length - 1; x >= 0; x--){ %>
        <tr>
          <td><%= results[x].id %></td>
          <td><%= results[x].time_check %></td>
        </td>
      <% }; %>
    </table>
  </body>
</html>
