<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <style>
      table{
        width: 50%;
        margin: 3% auto;
      }
      table,tr,td{
        border-collapse: collapse;
        border: 1px solid black;
      }
      td{
        padding: 2%;
      }
      #dltBtn{
        margin: 1% auto;
      }
    </style>
  </head>
  <body>
    <h2>Test</h2>
    <form action="/" method="POST">
      <button>Check</button>
    </form>
    <form action="deleteAll" method="POST">
      <button id="dltBtn">Delete All</button>
    </form>
    <table>
      <% for(var x = results.length - 1; x >= 0; x--){ %>
        <tr>
          <td><%= results[x].id %></td>
          <td><%= results[x].time_check %></td>
          <td>
            <form action="/delete/<%= results[x].id %>" method="POST">
              <button>Delete</button>
            </form>
          </td>
        </td>
      <% }; %>
    </table>
  </body>
</html>
